<div style="text-align: justify; padding: 20px; background-color: #000000; color: #ffffff; border-radius: 10px;">

# **Teste de hip√≥teses entre tomates da horta e da Fitotron**  
### **Autor: Pedro Thomazelli Ferreira**
üìÖ **√öltima modifica√ß√£o:** 21 de Novembro de 2024  

---

## **Trabalho principal: Impacto das mudan√ßas clim√°ticas no cultivo e consumo do tomate-cereja**
### **Autores principais: Ana Clara Batista Loponi e Jo√£o Guilherme dos Santos Caram√™s**  

---

### **Resumo**  
<p style="text-align: justify; margin: 10px 50px;">
Nesse notebook, s√£o feitos c√°lculos para determina√ß√£o dos valores <b> p </b>, que visam confirmar hip√≥teses sobre caraceter√≠sticas dos tomates em temperaturas diferentes. Na Fitotron, a temperatura √© aquela que se que ser√° atingida em 2050.
</p>

---

### **Palavras-chave**  
üîë *Teste de hip√≥tese, alimento, mudan√ßas clim√°ticas, seguran√ßa alimentar, cultivo, consumo, an√°lise de alimentos*  

</div>

### Importa√ß√µes

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scikit_posthocs as sp
from itertools import combinations
from scipy import stats

/home/ABTLUS/pedro220058/.local/lib/python3.10/site-packages/matplotlib/projections/__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "

### Definindo vari√°veis

In [3]:
nivel_confianca = 0.95

significancia = 1 - nivel_confianca

### Fun√ß√£o que recebe valor de signific√¢ncia

In [4]:
def valor_signif (pvalor, significancia):
    if pvalor < significancia:
        print(f'Como {pvalor = :.3f} < signific√¢ncia, rejeitamos a hip√≥tese nula.')
    else:
        print(f'Como {pvalor = :.3f} > signific√¢ncia, devemos aceitar a hip√≥tese nula.')

In [5]:
df = pd.read_excel('ValoresSolos.xlsx')
display(df)

,Amostra,N (g/kg),P (g/kg),K (g/kg),Ca (g/kg),Mg (g/kg),S (g/kg),B (mg/kg),Cu (mg/kg),Fe (g/kg),Mn (mg/kg),Zn (mg/kg),Na (mg/kg)
0,Inicial 1,6.400000,1.500000,2.300000,3.600000,1.300000,1.300000,62.200000,23.400000,8.800000,126.300000,52.300000,430.000000
1,Inicial 2,4.400000,1.500000,2.600000,3.900000,1.500000,1.300000,57.300000,22.900000,9.400000,128.000000,55.700000,476.000000
2,Inicial 3,3.700000,1.300000,2.300000,3.600000,1.400000,1.000000,52.700000,21.700000,8.600000,129.600000,45.900000,441.000000
3,Fitotron 1,4.600000,0.900000,1.600000,2.500000,1.100000,0.500000,35.400000,17.900000,9.400000,94.700000,37.000000,200.100000
4,Fitotron 2,4.900000,1.500000,2.100000,3.800000,1.400000,0.800000,38.700000,22.900000,10.000000,219.200000,56.400000,235.900000
5,Fitotron 3,6.000000,1.300000,2.000000,2.900000,1.200000,0.600000,33.200000,21.400000,8.700000,98.700000,46.700000,226.800000
6,Horta 1,4.300000,1.000000,1.500000,2.300000,1.000000,0.500000,28.000000,18.300000,7.700000,89.700000,41.700000,198.900000
7,Horta 2,4.500000,1.100000,1.900000,3.700000,1.600000,0.600000,29.800000,21.600000,8.000000,101.500000,45.700000,295.700000
8,Horta 3,5.500000,1.100000,1.600000,3.200000,1.400000,0.600000,30.000000,19.200000,8.700000,109.300000,43.500000,200.200000
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Desvio Padr√£o Inicial,1.401190,0.115470,0.173205,0.173205,0.100000,0.173205,4.750789,0.873689,0.416333,1.650253,4.975942,24.020824
11,Desvio Padr√£o Fitotron,0.737111,0.305505,0.264575,0.665833,0.152753,0.152753,2.768273,2.565801,0.650641,70.753681,9.700000,18.607078
12,Desvio Padr√£o Horta,0.642910,0.057735,0.208167,0.709460,0.305505,0.057735,1.101514,1.705872,0.513160,9.867793,2.003331,55.516034
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,M√©dia Inicial,4.833333,1.433333,2.400000,3.700000,1.400000,1.200000,57.400000,22.666667,8.933333,127.966667,51.300000,449.000000
15,M√©dia Fitotron,5.166667,1.233333,1.900000,3.066667,1.233333,0.633333,35.766667,20.733333,9.366667,137.533333,46.700000,220.933333
16,M√©dia Horta,4.766667,1.066667,1.666667,3.066667,1.333333,0.566667,29.266667,19.700000,8.133333,100.166667,43.633333,231.600000

### Teste de Hip√≥tese

Aqui faremos testes para caracter√≠sticas dos tomates.

In [6]:
medias_horta = [0.82, 7.42, 89.74, 0.67, 1.02, 0.55, 16.46]
dp_horta = [0.03, 0.87, 0.24, 0.04, 0.12, 0.16, 2.27]
medias_fito = [0.61, 6.42, 90.92, 0.90, 1.67, 0.81, 27.88]
dp_fito = [0.04, 0.0, 0.19, 0.03, 0.03, 0.19, 4.54]
n_amostras_horta = 3
n_amostras_fito = 3
df_novo = df.drop('Amostra', axis=1)
medias_solos_horta = (df_novo.iloc[16].tolist())
medias_solos_horta = [round(x, 2) for x in medias_solos_horta]
dp_solos_horta = (df_novo.iloc[12].tolist())
dp_solos_horta = [round(x,2) for x in dp_solos_horta]
media_solos_fito = (df_novo.iloc[15].tolist())
media_solos_fito = [round(x,2) for x in media_solos_fito]
dp_solos_fito = (df_novo.iloc[11].tolist())
dp_solos_fito = [round(x,2) for x in dp_solos_fito]

In [7]:
np.random.seed(42)

amostra_acid_horta = np.random.normal(medias_horta[0], dp_horta[0], n_amostras_horta)
amostra_acid_fito = np.random.normal(medias_fito[0], dp_fito[0], n_amostras_fito)

amostra_ss_horta = np.random.normal(medias_horta[1], dp_horta[1], n_amostras_horta)
amostra_ss_fito = np.random.normal(medias_fito[1], dp_fito[1], n_amostras_fito)

amostra_u_horta = np.random.normal(medias_horta[2], dp_horta[2], n_amostras_horta)
amostra_u_fito = np.random.normal(medias_fito[2], dp_fito[2], n_amostras_fito)

amostra_c_horta = np.random.normal(medias_horta[3], dp_horta[3], n_amostras_horta)
amostra_c_fito = np.random.normal(medias_fito[3], dp_fito[3], n_amostras_fito)

amostra_p_horta = np.random.normal(medias_horta[4], dp_horta[4], n_amostras_horta)
amostra_p_fito = np.random.normal(medias_fito[4], dp_fito[4], n_amostras_fito)

amostra_l_horta = np.random.normal(medias_horta[5], dp_horta[5], n_amostras_horta)
amostra_l_fito = np.random.normal(medias_fito[5], dp_fito[5], n_amostras_fito)

amostra_vc_horta = np.random.normal(medias_horta[6], dp_horta[6], n_amostras_horta)
amostra_vc_fito = np.random.normal(medias_fito[6], dp_fito[6], n_amostras_fito)

amostra_incub1_raiz = np.random.normal(9.22, 1.84, 24)
amostra_incub2_raiz = np.random.normal(8.22, 2.21, 25)
amostra_fito3_raiz = np.random.normal(6.06, 1.60, 25)
amostra_fito4_raiz = np.random.normal(8.50, 1.46, 23)

amostra_incub1_caule = np.random.normal(4.80, 0.68, 24)
amostra_incub2_caule = np.random.normal(4.70, 0.64, 25)
amostra_fito3_caule = np.random.normal(4.24, 0.76, 25)
amostra_fito4_caule = np.random.normal(5.43, 0.96, 23)

amostra_incub_raiz = np.random.normal(8.72, 2.02, 49)
amostra_fito_raiz = np.random.normal(7.28, 1.53, 48)

amostra_incub_caule = np.random.normal(4.75, 0.66, 49)
amostra_fito_caule = np.random.normal(4.83, 0.86, 48)

In [8]:
amostras_solos_horta = []
amostras_solos_fito = []

for (i, n, x, y) in zip(medias_solos_horta,dp_solos_horta, media_solos_fito, dp_solos_fito):
    amostra_horta = np.random.normal(i,n,3)
    amostras_solos_horta.append(amostra_horta)
    amostra_fito = np.random.normal(x,y,3)
    amostras_solos_fito.append(amostra_fito)

In [9]:
t_stat_acid, p_valor_acid = stats.ttest_ind(amostra_acid_horta, amostra_acid_fito)
t_stat_ss, p_valor_ss = stats.ttest_ind(amostra_ss_horta, amostra_ss_fito)
t_stat_u, p_valor_u = stats.ttest_ind(amostra_u_horta, amostra_u_fito)
t_stat_c, p_valor_c = stats.ttest_ind(amostra_c_horta, amostra_c_fito)
t_stat_p, p_valor_p = stats.ttest_ind(amostra_p_horta, amostra_p_fito)
t_stat_l, p_valor_l = stats.ttest_ind(amostra_l_horta, amostra_l_fito)
t_stat_vc, p_valor_vc = stats.ttest_ind(amostra_vc_horta, amostra_vc_fito)
t_stat_raiz, p_valor_raiz = stats.ttest_ind(amostra_incub_raiz, amostra_fito_raiz)
t_stat_caule, p_valor_caule = stats.ttest_ind(amostra_incub_caule, amostra_fito_caule)

/home/ABTLUS/pedro220058/.local/lib/python3.10/site-packages/scipy/stats/_axis_nan_policy.py:531: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  res = hypotest_fun_out(*samples, **kwds)

In [10]:
print(f'Estat√≠stica t: {t_stat_acid}')
print(f'Valor p: {p_valor_acid}')

Estat√≠stica t: 8.402116650757513
Valor p: 0.0010981403733531874

In [11]:
valor_signif(p_valor_acid, significancia)

Como pvalor = 0.001 < signific√¢ncia, rejeitamos a hip√≥tese nula.

In [12]:
valor_signif(p_valor_ss, significancia)

Como pvalor = 0.041 < signific√¢ncia, rejeitamos a hip√≥tese nula.

In [13]:
valor_signif(p_valor_u, significancia)

Como pvalor = 0.002 < signific√¢ncia, rejeitamos a hip√≥tese nula.

In [14]:
valor_signif(p_valor_c, significancia)

Como pvalor = 0.004 < signific√¢ncia, rejeitamos a hip√≥tese nula.

In [15]:
valor_signif(p_valor_p, significancia)

Como pvalor = 0.000 < signific√¢ncia, rejeitamos a hip√≥tese nula.

In [16]:
valor_signif(p_valor_p, significancia)

Como pvalor = 0.000 < signific√¢ncia, rejeitamos a hip√≥tese nula.

In [17]:
valor_signif(p_valor_vc, significancia)

Como pvalor = 0.001 < signific√¢ncia, rejeitamos a hip√≥tese nula.

In [18]:
valor_signif(p_valor_raiz, significancia)

Como pvalor = 0.004 < signific√¢ncia, rejeitamos a hip√≥tese nula.

In [19]:
valor_signif(p_valor_caule, significancia)

Como pvalor = 0.321 > signific√¢ncia, devemos aceitar a hip√≥tese nula.

In [20]:
t_stat_lista = []
p_valor_lista = []

for i,n in zip(amostras_solos_horta, amostras_solos_fito):
    t_stat, p_valor = stats.ttest_ind(i,n)
    t_stat_lista.append(t_stat)
    p_valor_lista.append(p_valor)

print(t_stat_lista)
print()
print(p_valor_lista)

[np.float64(-3.822135482958174), np.float64(-2.8326388516679293), np.float64(-2.7245756997189456), np.float64(-1.1126818972243304), np.float64(1.3386654966316758), np.float64(-0.543784106780245), np.float64(-1.8166737994085138), np.float64(-0.39414095295414975), np.float64(-0.0629919610273547), np.float64(-1.4037761878322554), np.float64(-0.8731545922142087), np.float64(-1.6074560575713837)]

[np.float64(0.018743946070133407), np.float64(0.04721852076511125), np.float64(0.05273718959808982), np.float64(0.32820396946043573), np.float64(0.2516982725183907), np.float64(0.6154794771793686), np.float64(0.14343033062576152), np.float64(0.7135867199506187), np.float64(0.9527950434826343), np.float64(0.2330578629954369), np.float64(0.4318627420312488), np.float64(0.18323297445615033)]

In [21]:
hipoteses = []

for i in p_valor_lista:
    hipotese = valor_signif(i, significancia)
    hipoteses.append(hipotese)

Como pvalor = 0.019 < signific√¢ncia, rejeitamos a hip√≥tese nula.
Como pvalor = 0.047 < signific√¢ncia, rejeitamos a hip√≥tese nula.
Como pvalor = 0.053 > signific√¢ncia, devemos aceitar a hip√≥tese nula.
Como pvalor = 0.328 > signific√¢ncia, devemos aceitar a hip√≥tese nula.
Como pvalor = 0.252 > signific√¢ncia, devemos aceitar a hip√≥tese nula.
Como pvalor = 0.615 > signific√¢ncia, devemos aceitar a hip√≥tese nula.
Como pvalor = 0.143 > signific√¢ncia, devemos aceitar a hip√≥tese nula.
Como pvalor = 0.714 > signific√¢ncia, devemos aceitar a hip√≥tese nula.
Como pvalor = 0.953 > signific√¢ncia, devemos aceitar a hip√≥tese nula.
Como pvalor = 0.233 > signific√¢ncia, devemos aceitar a hip√≥tese nula.
Como pvalor = 0.432 > signific√¢ncia, devemos aceitar a hip√≥tese nula.
Como pvalor = 0.183 > signific√¢ncia, devemos aceitar a hip√≥tese nula.

In [22]:
df2 = pd.read_excel("resultados_pigmentos.xlsx")
display(df2)

,Amostra,Massa (g),Volume (mL),Absorb√¢ncia (470 nm),Absorb√¢ncia (645 nm),Absorb√¢ncia (663 nm),Clorofila a (mg/g),Clorofila b (mg/g),Clorofilas a+b (mg/g),Carotenoides (mg/g)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,F1,0.130000,10.0,1.290000,0.613000,1.388000,1.235976,0.580268,1.816244,0.411693
2,F2,0.110000,10.0,1.083000,0.511000,1.160000,1.221065,0.570407,1.791472,0.404797
3,F3,0.130000,10.0,0.937000,0.446000,0.973000,0.863186,0.435428,1.298615,0.298587
4,M√©dia,0.123333,10.0,1.103333,0.523333,1.173667,1.106742,0.528701,1.635443,0.371692
5,Desvio,0.011547,0.0,0.177376,0.084180,0.207837,0.211058,0.080927,0.291965,0.063405
6,H1,0.130000,10.0,0.777000,0.312000,0.715000,0.637440,0.292270,0.929710,0.250091
7,H2,0.130000,10.0,0.740000,0.290000,0.672000,0.599749,0.268997,0.868746,0.238516
8,H3,0.120000,10.0,0.776000,0.321000,0.743000,0.718297,0.322889,1.041187,0.269312
9,M√©dia,0.126667,10.0,0.764333,0.307667,0.710000,0.651829,0.294719,0.946548,0.252640
10,Desvio,0.005774,0.0,0.021079,0.015948,0.035763,0.060570,0.027029,0.087445,0.015556

In [23]:
medias_pigmentos_horta = (df2.iloc[9][6:10].tolist())
medias_pigmentos_horta = [round(x, 2) for x in medias_pigmentos_horta]
dp_pigmentos_horta = (df2.iloc[10][6:10].tolist())
dp_pigmentos_horta = [round(x, 2) for x in dp_pigmentos_horta]
medias_pigmentos_fito = (df2.iloc[4][6:10].tolist())
medias_pigmentos_fito = [round(x, 2) for x in medias_pigmentos_fito]
dp_pigmentos_fito = (df2.iloc[5][6:10].tolist())
dp_pigmentos_fito = [round(x, 2) for x in dp_pigmentos_fito]

In [24]:
amostras_pigmentos_horta = []
amostras_pigmentos_fito = []

for (i, n, x, y) in zip(medias_pigmentos_horta,dp_pigmentos_horta, medias_pigmentos_fito, dp_pigmentos_fito):
    pigmento_horta = np.random.normal(i,n,3)
    amostras_pigmentos_horta.append(pigmento_horta)
    pigmento_fito = np.random.normal(x,y,3)
    amostras_pigmentos_fito.append(pigmento_fito)

In [25]:
t_stat_lista2 = []
p_valor_lista2 = []

for i,n in zip(amostras_pigmentos_horta, amostras_pigmentos_fito):
    t_stat2, p_valor2 = stats.ttest_ind(i,n)
    t_stat_lista2.append(t_stat2)
    p_valor_lista2.append(p_valor2)

print(t_stat_lista2)
print()
print(p_valor_lista2)

[np.float64(-8.4988198933405), np.float64(-9.21996657417924), np.float64(-4.360931177065503), np.float64(-2.129689380340814)]

[np.float64(0.001051136124150468), np.float64(0.0007689883518091948), np.float64(0.01205333795131178), np.float64(0.10024292747271767)]

In [26]:
hipoteses2 = []

for i in p_valor_lista2:
    hipotese2 = valor_signif(i, significancia)
    hipoteses2.append(hipotese2)

Como pvalor = 0.001 < signific√¢ncia, rejeitamos a hip√≥tese nula.
Como pvalor = 0.001 < signific√¢ncia, rejeitamos a hip√≥tese nula.
Como pvalor = 0.012 < signific√¢ncia, rejeitamos a hip√≥tese nula.
Como pvalor = 0.100 > signific√¢ncia, devemos aceitar a hip√≥tese nula.

In [27]:
df_raizes = pd.read_excel("Ra√≠zes.xlsx")
display(df_raizes)

,Planta,Raiz (cm),Caule (cm),Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,1 Horta,33,68,NaN,NaN,NaN,NaN
1,2 Horta,16,96,NaN,NaN,DP Raiz Horta,10.115994
2,3 Horta,15,105,NaN,NaN,DP Raiz Fitotron,12.789318
3,1 Fitotron,15,97,NaN,NaN,DP Caule Horta,19.295941
4,2 Fitotron,9,94,NaN,NaN,DP Caule Fitotron,10.157099
5,3 Fitotron,12,104,NaN,NaN,NaN,NaN
6,4 Fitotron,17,96,NaN,NaN,M√©dia Raiz Horta,21.333333
7,5 Fitotron,20,100,NaN,NaN,M√©dia Raiz Fitotron,20.700000
8,6 Fitotron,14,101,NaN,NaN,M√©dia Caule Horta,89.666667
9,7 Fitotron,26,98,NaN,NaN,M√©dia Caule Fitotron,94.500000
10,8 Fitotron,51,72,NaN,NaN,NaN,NaN
11,9 Fitotron,32,81,NaN,NaN,NaN,NaN
12,10 Fitotron,11,102,NaN,NaN,NaN,NaN

In [28]:
medias_raizes = [21.33, 20.70]
medias_caules = [89.66, 94.50]
dp_raizes = [10.11, 12.78]
dp_caules = [19.29, 10.15]
n_amostras_rh = 3
n_amostras_rf = 10

In [29]:
amostras_raiz_horta = []
amostras_raiz_fito = []

for (i, n, x, y) in zip(medias_raizes,dp_raizes, medias_caules, dp_caules):
    raizes_horta = np.random.normal(i,n,n_amostras_rh)
    amostras_raiz_horta.append(raizes_horta)
    raizes_fito = np.random.normal(x,y,n_amostras_rf)
    amostras_raiz_fito.append(raizes_fito)

In [30]:
t_stat_lista3 = []
p_valor_lista3 = []

for i,n in zip(amostras_raiz_horta, amostras_raiz_fito):
    t_stat3, p_valor3 = stats.ttest_ind(i,n)
    t_stat_lista3.append(t_stat3)
    p_valor_lista3.append(p_valor3)

print(t_stat_lista3)
print()
print(p_valor_lista3)

[np.float64(-6.53915223582191), np.float64(-10.452250612990966)]

[np.float64(4.1970851470409066e-05), np.float64(4.7436122102113623e-07)]

In [31]:
hipoteses3 = []

for i in p_valor_lista3:
    hipotese3 = valor_signif(i, significancia)
    hipoteses3.append(hipotese3)

Como pvalor = 0.000 < signific√¢ncia, rejeitamos a hip√≥tese nula.
Como pvalor = 0.000 < signific√¢ncia, rejeitamos a hip√≥tese nula.